@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Inconsolata", monospace;
}

header {
    margin-top: 2rem;

    display: flex;
    justify-content: space-around;
}

header > div {
    display: flex;
    align-items: center;

    gap: 1rem;
    background-color: #dbf2f2;
    border: 3px solid #4bc0c0;
    border-radius: 8px;

    padding: 4rem 8rem;
}

.get-sensors-data-hook {
    font-weight: 700;
    cursor: pointer;
}

.get-sensors-data-hook:hover {
    background-color: #a7d6d6;
}

.sensor-name {
    font-size: large;
    font-weight: 700;
}

section {
    padding: 4rem 3.25rem;
}

section hr {
    border: 1px solid #4bc0c0;
    margin: 2rem 0;
}