@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Inconsolata", monospace;
}

header {
    margin-top: 2rem;

    display: flex;
    justify-content: space-around;
}

header > div {
    display: flex;
    align-items: center;

    gap: 1rem;
    background-color: azure;

    padding: 4rem 8rem;
}

.get-sensors-data-hook {
    font-weight: 700;
}

.sensor-name {
    font-size: large;
    font-weight: 700;
}

section {
    padding: 4rem 3.25rem;
}

section hr {
    margin: 2rem 0;
}